version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
    - dependency-name: org.jenkins-ci.main:jenkins-core
      versions:
      - ">= 0"
