<?xml version='1.0' encoding='UTF-8'?>
<project>
    <actions/>
    <description></description>
    <keepDependencies>false</keepDependencies>
    <properties/>
    <scm />
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers/>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <hudson.plugins.gradle.Gradle plugin="gradle@1.30">
            <switches></switches>
            <tasks>clean build</tasks>
            <rootBuildScriptDir></rootBuildScriptDir>
            <buildFile></buildFile>
            <gradleName>(Default)</gradleName>
            <useWrapper>true</useWrapper>
            <makeExecutable>false</makeExecutable>
            <useWorkspaceAsHome>false</useWorkspaceAsHome>
            <wrapperLocation></wrapperLocation>
            <passAllAsSystemProperties>false</passAllAsSystemProperties>
            <projectProperties></projectProperties>
            <passAllAsProjectProperties>false</passAllAsProjectProperties>
        </hudson.plugins.gradle.Gradle>
    </builders>
    <publishers/>
    <buildWrappers/>
</project>