node {
    stage('prepare_build') {
        ${copy_resource_step}
    }
    stage('build_project') {
        withEnv(["PATH+MAVEN=$${tool '${maven_version}'}/bin"]) {
            withGradle {
                sh 'mvn ${maven_arguments}'
            }
        }
    }
}
