node {
    stage('prepare_build') {
        ${copy_resource_step}
    }
    stage('build_project') {
        tool name: '${maven_version}'

        withGradle {
            sh 'mvn ${maven_arguments}'
        }
    }
}
