node {
    stage('build_project') {
        withEnv(["PATH+MAVEN=$${tool '${maven_version}'}/bin"]) {
            git branch: 'accept-ge-tos', url: 'https://github.com/c00ler/simple-maven-project.git'
            withGradle {
                sh 'mvn clean compile'
            }
        }
    }
}
